// variables 

//colors
$primary-color: #0C7D69;
$accent-color: #86A2A5;
$text-color: #2A4144;
$container-color: #FFFFFF;
$background-color: #E0F1E8;
$error-color: #D73C3C;
$button-hover-color: #063F35;

//font families
$font-primary: "Karla", sans-serif;

//font sizes 
$font-size-large: 2em;
$font-size-medium: 1.1em;
$font-size-small: 1em;

//font weights
$font-weight-bold: 700;
$font-weight-regular: 400;


//practice

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
}

form {
    background-color: $container-color;
    padding: 40px;
    border-radius: 8px;
    margin-top: 104px;
}

h1 {
    color: $text-color;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 0%;
    margin-bottom: 40px;
    letter-spacing: -1px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
}

input[type="text"]:hover,
textarea:hover,
.general-enquiry:hover,
.support-request:hover {
    border: 1px solid $primary-color;
    cursor: pointer;
}

input[type="text"]:focus,
textarea:focus {
    border: 2px solid $primary-color;
    outline: none;
    cursor: pointer;
}

.first-line-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;
}

fieldset {
    border: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: -14px;
    margin-right: -14px;

}

.general-enquiry,
.support-request {
    width: 100%;
    padding: 12px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
}



input[type="radio"] {
    accent-color: $primary-color;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

textarea {
    padding: 12px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    resize: vertical;
}


.consent-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    accent-color: $primary-color;
}

label,
legend {
    font-size: $font-size-small;
    color: $text-color;
}


.submit-btn button {
    font-family: $font-primary;
    background-color: $primary-color;
    color: $container-color;
    margin-top: 40px;
    width: 100%;
    padding: 14px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    font-size: $font-size-small;
}

.submit-btn button:hover {
    background-color: $button-hover-color;
}